/* cela stranica */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* kartica */
.login-card {
  width: 360px;
  padding: 28px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

/* naslov */
.login-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

/* CENTRALNI BLOK */
.login-center {
  flex: 1; /* ovo gura sadržaj u sredinu */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

/* inputi */
mat-form-field {
  width: 100%;
}

/* dugme za login */
.login-btn {
  height: 42px;
  font-weight: 500;
}

/* create account sekcija */
.create-account {
  margin-top: 10px;
  text-align: center;
}

.create-account button {
  font-size: 13px;
  padding: 0;
  min-width: auto;
}
