<div class="login-wrapper">
  <div class="login-card">
    <h2 class="title">Prijava</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Lozinka</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

      <button class="full" mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Prijavljujem...' : 'Prijavi se' }}
      </button>
    </form>

    <button mat-button color="accent" (click)="openRegister()">
      Kreiraj novi nalog
    </button>
  </div>
</div>
