<div class="login-wrapper">


  <mat-card class="login-card">
    <h2 class="title">Prijava</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- EMAIL -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          autocomplete="email"
        />
        <mat-error *ngIf="form.get('email')?.invalid">
          Unesi ispravan email
        </mat-error>
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Lozinka</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="current-password"
        />
        <mat-error *ngIf="form.get('password')?.invalid">
          Lozinka je obavezna
        </mat-error>
      </mat-form-field>

      <!-- ERROR MESSAGE -->
      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <!-- SUBMIT -->
      <button
        mat-raised-button
        color="primary"
        class="full"
        type="submit"
        [disabled]="isSubmitting"
      >
        {{ isSubmitting ? 'Prijavljivanje...' : 'Login' }}
      </button>
    </form>

    <div class="divider"></div>

    <!-- REGISTER -->
    <button
      mat-stroked-button
      color="accent"
      class="full"
      (click)="openRegister()"
    >
      Kreiraj novi nalog
    </button>

  </mat-card>

</div>
